RGC_USE_DB_AUTH=1
RGC_DB_HOST=localhost
RGC_DB_PORT=3306
RGC_DB_NAME=tektxbzg_mchungi
RGC_DB_USER=tektxbzg_mchungi
RGC_DB_PASS=change-me
RGC_DB_CHARSET=utf8mb4

RGC_BASE_URL=https://tektrend.online
RGC_DEBUG_SHOW_OTP=0

RGC_MAIL_MODE=phpmail
RGC_MAIL_FROM=redeemedgospelchurch.eldoret@gmail.com
RGC_MAILBOX_KEY=change-this-if-using-test-mode

RGC_DONATE_PAYBILL_NUMBER=122766
RGC_DONATE_PAYBILL_OFFERING_ACCOUNT=Offering
RGC_DONATE_PAYBILL_TITHE_ACCOUNT=Tithe
RGC_DONATE_PAYBILL_DONATION_ACCOUNT=Donation
RGC_DONATE_PAYSTACK_URL=
RGC_DONATE_BANK_NAME=
RGC_DONATE_BANK_ACCOUNT=
RGC_DONATE_CONTACT_WHATSAPP=0722551152
RGC_DONATE_CONTACT_EMAIL=redeemedgospelchurch.eldoret@gmail.com

RGC_ADMIN_REG_KEY=change-admin-key
RGC_SUPER_ADMIN_REG_KEY=change-super-admin-key
